@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/media" as *;

.services {
  padding: $p-2 0;
  background: $gradient-reverse;

  &__container {
    width: 100%;
    color: $white;
  }

  &__title {
    text-align: center;
    margin-bottom: $p-2;

    h2 {
      @include h-2;
    }
    span {
      @include underline;
      margin: $m-center;
      background: $blue-underline;
      margin-bottom: $p-0-5;
    }
    p {
      @include p;
    }
  }

  &__list {
    max-width: 900px;
    margin: $m-center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: $p-2;
  }

  &__item {
    text-align: center;
    padding: $p-1;

    h3 {
      color: $white;
      font-weight: 700;
      margin-top: $p-1;
      margin-bottom: $p-0-5;
    }
    p {
      @include p;
    }
  }

  &__icon {
    @include icon;
    margin: 0 auto;
  }
}
